
<div class="contact js-activate-on-scroll">
    <div class="contact-background"></div>
    <div class="contact-content">
        <h4 class="contact-content-title title"><span class="color-red">contactez</span> moi <span class="color-red">!</span></h4>
        <div class="contact-content-grid">
            <a href="{{ getForeignUrl('cv') }}" target="_blank" class="contact-content-link contact-item v-m-page cv">mon cv</a>
            <a href="{{ getForeignUrl('cv') }}" target="_blank" class="contact-content-link contact-item v-s-page cv">CV</a>
            <a href="mailto:leondedouin@gmail.com" class="contact-content-link contact-item v-m-page js-copy-to-clipboard mail">leondedouin<span class="color-red">@</span>gmail.com</a>
            <a href="mailto:leondedouin@gmail.com" class="contact-content-link contact-item v-s-page js-copy-to-clipboard mail">Mail</a>
            <a href="{{ getForeignUrl('twitter') }}" class="contact-content-link contact-icon twitter"><span class="v-m-page">Twitter</span></a>
            <a href="{{ getForeignUrl('instagram') }}" class="contact-content-link contact-icon instagram"><span class="v-m-page">Instagram</span></a>
            <a href="{{ getForeignUrl('github') }}" class="contact-content-link contact-icon github"><span class="v-m-page">Github</span></a>
            <a href="{{ getForeignUrl('youtube') }}" class="contact-content-link contact-icon youtube"><span class="v-m-page">Youtube</span></a>
        </div>
    </div>
</div>