{% import "macro/div.twig" as div %}
{% import "macro/title.twig" as title %}
<section class="section parcours">
    <div class="wrapper js-activate-on-scroll">
        {{ title.regular('h2', 'section-title', 'Mon', 'Parcours') }}
    </div>
    {% for course in courses %}
        <article class="parcours-experience js-activate-on-scroll">
            <h3 class="title parcours-experience-title">
                <span class="parcours-experience-wrapper">{{ course.getName() }}</span>
            </h3>
            <time class="parcours-experience-time">
                <span class="parcours-experience-wrapper">{{ course.getDate() }}</span>
            </time>
            <p class="parcours-experience-description paragraph">
                <span class="parcours-experience-wrapper">{{ course.getDescription() }}</span>
            </p>
            {% if loop.index is odd %}
                <div class="background-empty-squares">
                    {{ div.fromClassArray(['', '', 'thick'], 'background-empty-squares-element') }}
                </div>
            {% else %}
                <div class="background-squares">
                    <div class="background-squares-group">
                        {{ div.multiples('background-squares-group-element', 15) }}
                    </div>
                </div>
            {% endif %}
        </article>
    {% endfor %}
</section>