{% import "macro/img.twig" as img %}
{% import "macro/div.twig" as div %}
{% import "macro/title.twig" as title %}
<section class="section presentation js-activate-on-scroll">
    {{ img.pictureTag('profilPhoto_1200.jpg', 'profilPhoto_800.jpg', 'Photo de moi à la BNF', 'presentation-photo', 1) }}
    {{ title.regular('h2', 'section-title', 'Qui', 'Suis-je ?') }}
    <p class="presentation-paragraph paragraph">
        Bonjour à tous, je suis Léon Baudouin, j’ai 20 ans. Je suis un <strong>développeur touche à tout</strong> mais surtout avide de création, <strong>motion designer à mes heures perdues</strong>. Je me forme actuellement au sein de <strong>Gobelins - l’École de l’image</strong> en Bachelor Développeur Interactif. Je compte ainsi poursuivre mon parcours dans le milieu du <strong>développement créatif</strong>.
        <span class="v-m-page">
            <br><br>N’hésitez pas à me contacter sur les réseaux sociaux, je serai heureux de répondre à vos questions.
        </span>
    </p>
    <div class="presentation-links space-even">
        <div class="null"></div>
        <a href="{{ getUrl('project_list') }}" class="presentation-links-element v-m-page"><span class="light-text">Mes</span> projets</a>
        <a href="#contact" class="presentation-links-element"><span class="light-text">Me</span> contacter</a>
    </div>
    <div class="presentation-particles">
        <div class="presentation-particles-group z-minus-1">
            {{ div.multiples('presentation-particles-element', 4) }}
        </div>
        <div class="presentation-particles-group z-plus-1">
            {{ div.multiples('presentation-particles-element', 4) }}
        </div>
    </div>
    <div class="presentation-background">
    </div>
</section>