{% import "macro/title.twig" as title %}
<section class="section skills">
    <div class="wrapper js-activate-on-scroll">
        {{ title.regular('h2', 'section-title', 'Mes', 'Compétences') }}
    </div>
    <div class="null"></div>
    {% for skillsSet in skillSets %}
        <article class="skills-set js-activate-on-scroll">
            <div class="skills-set-icons">
                {% for skill in skillsSet.getHigherSkills() %}
                    <img src="{{ getImagePath(skill.getLogo(), 'svg') }}" alt="Logo {{ skill.getName() }}" class="skills-set-icons-element {{ logo.scaling }}">
                {% endfor %}
            </div>
            {% set titleArray = skillsSet.getName() | split(' ') %}
            {{ title.regular('h3', 'skills-set-title direction-center', titleArray[0], titleArray[1]) }}
            <p class="paragraph skills-set-description">
                {{ skillsSet.getDescription() }}
            </p>
        </article>
    {% endfor %}
</section>