{% import "macro/img.twig" as img %}
{% import "macro/div.twig" as div %}
{% import "macro/svg.twig" as svg %}
{% import "macro/title.twig" as title %}
<div class="page profil">
    <section class="section">
        <div class="section-background">
            <div class="background-empty-squares">
                {{ div.fromClassArray(['', '', '', 'thick'], 'background-empty-squares-element') }}
            </div>
            {{ img.pictureTag('profil_1920.png', 'profil_800.png', 'Une photo de moi', 'photo-profil', 1) }}
            <svg class="background-strokes" viewbox="0 0 190 50">
                {% set lines = [
                    {from: {x: 70, y: 1}, to: {x: 190, y: 2}},
                    {from: {x: 30, y: 20}, to: {x: 150, y: 20}},
                    {from: {x: 0, y: 30}, to: {x: 120, y: 30}},
                    {from: {x: 30, y: 49}, to: {x: 150, y: 49}}
                ] %}
                {{ svg.lines(lines, "background-strokes-line") }}
            </svg>
        </div>
        <div class="section-content">
            {{ title.link('h2', 'direction-right', getUrl('profile'), 'Mon', 'Profil') }}
            <p class="description paragraph fade-from-left">
                Bonjour à tous, je suis Léon Baudouin, j’ai 20 ans. Je suis un développeur touche à tout mais surtout avide de création, motion designer à mes heures perdues...
            </p>
            <a href="{{ getUrl('profile') }}" class="button continuer fade-from-left">
                {% include "svg/continuer.twig" only %}
                {% include "svg/simple-arrow.twig" only %}
            </a>
        </div>
    </section>
</div>
