{% import "macro/title.twig" as title %}
{% extends "layout.twig" %}

{% block head %}
    {% include 'layout/head.twig' with {color: '#333131', title: 'Léon Baudouin - ' ~ project.getName()} only %}
{% endblock %}

{% block pageName %}lab-show-page{% endblock %}
{% block content %}
    <div class="header active">
        {% set titleArray = project.getName()|split(' ') %}
        {{ title.regular('h1', 'main-title', titleArray[0], titleArray[1]) }}
        <div class='skills'>
            {% for skill in project.getSkills() %}
                <img src="{{ getImagePath(skill.getLogo(), 'svg') }}" alt="{{ skill.getName() }}" class="skills-icon">
            {% endfor %}
        </div>
        <a href="{{ getUrl('lab_list') }}" class="back-to-project">Retour au lab</a>
    </div>
    <div class="content">
        <svg class='upper-triangle' version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 1920 172" xml:space="preserve">
            <polygon class="lower-triangle-path" points="0,0 1920,172 0,172 "/>
        </svg>
        <div class="elements active">
            {% for element in description %}
                {% if element.getType() == 'text' %}
                    <p class="element-paragraph paragraph">{{ element.getContent()|nl2br }}</p>
                {% elseif element.getType() == 'youtube' %}
                    <div class="element-youtube-container">
                        <iframe
                            class="element-youtube"
                            src="{{ element.getContent() }}"
                            frameborder="0"
                            allowfullscreen>
                        </iframe>
                    </div>
                {% elseif element.getType() == 'title' %}
                    <h2 class="title regular-title element-title">
                        <div class="first-part"><span class="first-part-content">{{ element.getContent() }}</span></div>
                    </h2>
                {% endif %}
            {% endfor %}
            <div class="element-link-container">
                <a href="{{ project.getUrl() }}" class="element-link">Voir le projet</a>
            </div>
        </div>
    </div>
{% endblock %}